* {
    box-sizing: border-box;
  }

  html, body{
      margin: 0;
      padding: 0;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  *:before, *:after {
    box-sizing: inherit;
  } 
  :root {
    --white: #ffffff;
    --grey1: #edf2f6;
    --grey2: #2f3848;
    --grey3: #1a202d;
    --black: #000000;
    --orange: #FF4500;
  }
